<h1>Listing authors</h1><br>

<%= link_to 'New author', new_author_path %>

<table class="table">
  <tr style="background-color:#cc33ff">
  	<th>Author Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Books ID</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
 
  <% @authors.each do |author| %>
    <tr style="background-color:#cc99ff">
      <td><%= author.id %></td>
      <td><%= author.first_name %></td>
      <td><%= author.last_name %></td>
      <td><%= author.date_of_birth %></td>
      <td><%= author.book_ids if author.book_ids.any? %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
      <td><%= link_to 'Delete', author_path(author), method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path %>